.popup{
    display: none;
    position: relative;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    max-height: 800px;
    background-color: white;
    border-radius: 12px;
    opacity: 0;
    transition: top 0.5s ,opacity 0.5s; 
}

.active{
    top:0;
    opacity: 1;
    margin-top: 100px;
    display: block;
}
