/* .overflow{
    overflow-x: scroll;
} */

.prev, .next {
    /* cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white; */
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

.next{
    right:0;
}
.prev{
    left: 0%;
}
